/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f7ee; /* Secondary color */
    margin: 0;
    padding: 0;
}

/* Navigation styles */
nav {
    background-color: #050505; /* Primary */
    color: #a05481; /* Secondary */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav img {
    height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color:#a05481; /* Secondary */
    text-decoration: none;
    padding: 10px 40px;
    background-color: #4e878c 10% ; /* Accent 1 */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #a05481;
    color:aliceblue;/* Accent 2 */
}

/* Main section styles */
main {
    padding: 20px;
    background-color: #050505;
}
#services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#services .service {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    color: #bf72e6;
}

.service{
    height: 300px;
}
.service-info h3 {
    margin: 0;
    font-size: 1.5em;
}

.service-info p {
    margin: 0.5em 0;
}

.cta-button {
    padding: 10px 20px;
    background-color: #4e878c; /* Accent 1 color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #a05481; /* Accent 2 color */
}



/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 50%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Footer styles */
footer {
    background-color: #050505; /* Primary color */
    color: #f1f7ee; /* Secondary color */
    padding: 20px;
    text-align: center;
}

footer #social img {
    width: 30px;
    margin: 0 10px;
}

footer #miei p {
    margin: 5px 0;
}

/* Scroll to top button */
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
}
.contact-info p{
    color: #f1f7ee;
}
.contact-info{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
iframe{
    width: 350px;
    height: 350px;
    justify-self: center;
    text-align: center;
}
h2{
    color: #f1f7ee;
}