/* Hamburger menu */
.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #f1f7ee; /* Secondary */
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked + .burger + .nav-links {
    display: flex;
    justify-content: space-around;
}

/* Responsive styling */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #050505; /* Primary */
        align-items: center;
    }

    .burger {
        display: flex;
        flex-basis: end;
        padding-right: 40px;
    }

    .nav-links li a {
        width: 100%;
        text-align: center;
        padding: 15px;
    }
}

/* Other styles */
#hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#hero picture,
#hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    color: #f1f7ee;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    font: 200;
}

.hero-content h1 {
    font-size: 2.5rem;
}

.hero-content p {
    font-size: 1.2rem;
}

.cta-button {
    color: #f1f7ee;
    background-color: #4e878c;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #a05481;
}

.scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    background-color: #4e878c;
    color: #f1f7ee;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.scrollToTopBtn:hover {
    background-color: #a05481;
}

#clientTestimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.testimonial {
    display: flex;
    align-items: center;
    background-color: #a05481;
    opacity: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.testimonial h2 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    color: #050505;
}

.testimonial p {
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: #050505;
}

.testimonial div {
    display: flex;
    flex-direction: row;
}

.testimonial div h2 {
    margin-bottom: 10px;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    .hero-content {
        padding: 20px 10px;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .testimonial {
        padding: 15px;
    }

    .testimonial img {
        width: 60px;
        margin-bottom: 10px;
    }

    .scrollToTopBtn {
        padding: 8px 12px;
        font-size: 16px;
    }
}
