@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Wellfleet&display=swap");

:root{
    --primary-color: #377771;
    --secondary-color: #ebe69f;
    --accent1-color: #CA3C25;
    --accent2-color: #1D1A05;

    --heading-font: Raleway ;
    --paragraph-font: kode Mono  ;

    --nav-background-color: #FFFBBD;
    --nav-link-color: #1D1A05;
    --nav-hover-link-color: #CA3C25;
    --nav-hover-background-color: #377771;
}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
footer{
    background-color: var(--secondary-color);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color);

}
header{
    padding: 20px;
    background-color: var(--secondary-color);

}
p{
    padding: 25px;
}

nav{
    background-color: var(--accent1-color);
    font-size: 1.2rem;
    display: flex;

}
nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;

}

nav a:link, nav a:visited{
    color: var(--nav-link-color);
}

nav a:hover{
    color: var(--nav-background-color);
    background-color: var(--nav-hover-background-color);
}
.primary {
    background-color: var(--primary-color);
}
.secondary{
    background-color: var(--secondary-color);
}
.accent1{
    background-color: var(--accent1-color);
}
.accent2{
    background-color: var(--accent2-color);
    color: white;
}
.colored{
    color: var(--primary-color);
}

img{
    width: 200px;
}
.wire{
    display: flex;
    flex-direction: row;
    flex-basis: auto;
}