/* Reset and normalize */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Navigation styles */
nav {
    background-color: #050505; /* Primary */
    color: #f1f7ee; /* Secondary */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav img {
    height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #f1f7ee; /* Secondary */
    text-decoration: none;
    padding: 10px 15px;
    background-color: #4e878c; /* Accent 1 */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #a05481; /* Accent 2 */
}

/* Hero section styles */
#hero {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
    margin-top: 80px; /* Adjust if needed */
}

#hero picture,
#hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #f1f7ee; /* Secondary */
    background-color: rgba(5, 5, 5, 0.5); /* Primary with transparency */
    padding: 20px;
    border-radius: 8px;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero-content h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta-button {
    color: #f1f7ee; /* Secondary */
    background-color: #4e878c; /* Accent 1 */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #a05481; /* Accent 2 */
}

/* Testimonial section styles */
#clientTestimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#a05481; /* Secondary */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.testimonial img {
    width: 80px; /* Adjust the width as needed */
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.testimonial h2 {
    font-size: 1.2em; /* Adjust font size as needed */
    color: #050505; /* Primary color for text */
    margin-bottom: 10px;
    text-align: center; /* Center text */
}

.testimonial p {
    font-size: 1em; /* Adjust font size as needed */
    color: #050505; /* Primary color for text */
    text-align: center; /* Center text */
}

/* Scroll to top button styles */
.scrollToTopBtn {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100; /* Make sure it stays above other content */
    background-color: #4e878c; /* Accent 1 */
    color: #f1f7ee; /* Secondary */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.scrollToTopBtn:hover {
    background-color: #a05481; /* Accent 2 */
}

/* Media query for mobile view */
@media (max-width: 768px) {
    .testimonial {
        flex-direction: column;
    }

    .testimonial img {
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}
