nav {
    background-color: #050505 ;
    color: #f1f7ee;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    width: 95%;
}

nav img {
    height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
    width: auto;
    margin: 0;
    padding: 0;
    
}

nav ul li a {
    
    color: #f1f7ee;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #4e878c;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #a05481;
}
#hero {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust if needed */
    overflow: hidden;
}

#hero picture,
#hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire section */
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #f1f7ee;
    background-color: rgba(0, 0, 0, 0.5); /* Optional background for better text readability */
    padding: 20px;
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 2.5rem; /* Adjust as needed */
}

.hero-content p {
    font-size: 1.2rem; /* Adjust as needed */
}

.cta-button {
    color: #f1f7ee; /* Secondary */
    background-color: #4e878c; /* Accent 1 */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #a05481; /* Accent 2 */
}

.scrollToTopBtn {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100; /* Make sure it stays above other content */
    background-color: #4e878c;
    color: #f1f7ee;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.scrollToTopBtn:hover {
    background-color: #a05481;
}


#clientTestimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.testimonial {
    display: flex;
    align-items: center;
    background-color:#a05481;
    opacity: 50%; /* Secondary color for background */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    
}

.testimonial img {
    width: 200px; /* Adjust the width as needed */
    height: auto;
    border-radius: 10px; /* Rounded corners */
    margin-right: 20px; /* Space between image and text */
}

.testimonial h2 {
    margin: 0;
    padding: 0;
    font-size: 1.5em; /* Adjust font size as needed */
    color: #050505; /* Primary color for text */
}

.testimonial p {
    margin: 0;
    padding: 0;
    font-size: 1em; /* Adjust font size as needed */
    color: #050505; /* Primary color for text */
}

.testimonial div {
    display: flex;
    flex-direction: row;
}

.testimonial div h2 {
    margin-bottom: 10px; /* Space between name and testimony */
}
