@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Wellfleet&display=swap");

:root{
    --primary-color: #377771;
    --secondary-color: #ebe69f;
    --accent1-color: #CA3C25;
    --accent2-color: #050505;

    --heading-font: Raleway ;
    --paragraph-font: kode Mono  ;

    --nav-background-color: #FFFBBD;
    --nav-link-color: #050505;
    --nav-hover-link-color: #CA3C25;
    --nav-hover-background-color: #377771;
}
/* Reset and normalize */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f1f7ee;
    text-align: center;
    background-color:var(--accent2-color);
    
}
h1{
    font-family: var(--heading-font);
    justify-self: center;
}
header h1{
    background-color:var(--primary-color);
}
header {
    background-color: var(--primary-color); /* Accent 1 */
    padding: 20px;
    color: #f1f7ee; /* Secondary */
}

main {
    padding: 20px;
    background-color: var(--accent2-color)
}

.thank-you-message {
    background-color: var(--accent2-color);
    padding: 40px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

.thank-you-message h2 {
    color: #4e878c; /* Accent 1 */
}

.cta {
    margin: 20px;
}

.cta-button {
    background-color: var(--primary-color); /* Accent 1 */
    color: #f1f7ee; /* Secondary */
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #a05481; /* Accent 2 */
}



/* Mobile view styling */
@media only screen and (max-width: 600px) {
    .thank-you-message {
        padding: 20px;
        margin: 10px;
        max-width: 90%;
    }

    .cta-button {
        width: 100%;
        box-sizing: border-box;
    }
}
footer {
    background-color: var(--accent2-color); /* Primary color */
    color: #f1f7ee; /* Secondary color */
    padding: 20px;
    text-align: center;
}

footer #social img {
    background-color: #f1f7ee;
    width: 30px;
    margin: 0 10px;
}
footer #social img:hover {
    background-color:var(--nav-hover-background-color);
    width: 30px;
    margin: 0 10px;
}

footer #miei p {
    margin: 5px 0;
}
